{% extends '_base.html' %}
{% load static %}

{% block titulo %} - Inicio{% endblock titulo %}

{% block contenido %}
    
    

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark text-white">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" style="background-image: url('{% static 'img/eldenring.png' %}');">

                    <div class="col-md-5 p-lg-5 mx-auto my-5">
                        <h1 class="display-4 fw-normal">ZTEAM</h1>
                        <p class="lead fw-normal">Ya puedes revisar la gran variedad de juegos que se encuentran alojados en esta pagina</p>
                        <a class="btn btn-outline-primary" href="{% url 'lista_juegos'%}">Lista de Juegos</a>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('ruta/a/la/imagen2.jpg');">
                    <div class="col-md-5 p-lg-5 mx-auto my-5">
                        <h1 class="display-4 fw-normal">ZTEAM</h1>
                        <p class="lead fw-normal">Ya puedes revisar la gran variedad de juegos que se encuentran alojados en esta pagina</p>
                        <a class="btn btn-outline-primary" href="{% url 'lista_juegos'%}">Lista de Juegos</a>
                    </div>
                   
                </div>
                <div class="carousel-item" style="background-image: url('ruta/a/la/imagen3.jpg');">
                    <div class="col-md-5 p-lg-5 mx-auto my-5">
                        <h1 class="display-4 fw-normal">Loremp</h1>
                        <p class="lead fw-normal">Ya puedes revisar la gran variedad de juegos que se encuentran alojados en esta pagina</p>
                        <a class="btn btn-outline-primary" href="{% url 'lista_juegos'%}">Lista de Juegos</a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
        
    </div>
    <div class="d-md-flex flex-md-equal w-100 - ">
        <div class="col-md-5 p-lg-5 mx-auto my-5 bg-dark text-white">
            <h1 class="display-4 fw-normal">Registrate</h1>
            <p class="lead fw-normal">Para gosar de todas las características de las paginas </p>
            <a class="btn btn-outline-secondary" href="{% url 'account_logout' %}">Registrate</a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">Titular Punny</h1>
            <p class="lead fw-normal">Y un subtítulo aún más ingenioso para arrancar. Ponga en marcha sus esfuerzos de marketing con este ejemplo basado en las páginas de marketing de Apple.</p>
            <a class="btn btn-outline-secondary" href="#">Próximamente</a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    
    
    
    
{% endblock contenido %}