{% extends "_base.html" %}

{% block titulo %}- Dejar Reseña {% endblock %}

{% block contenido %}



<div class="container-sm bg-dark" >
    <h1 class="text-center text-white py-2 font-weight-bold ">Dejar Reseña </h1>

    
    <form class="w-100" method="post">

        {% csrf_token %}
        
        {{ form.as_p }}
       
       

        <div class="text-center py-4">
            <button type="submit" class="btn btn-success w-50">Enviar</button>
        </div>
    </form>
</div>
{% endblock %}
