{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block titulo %} - Cambiar Contraseña{% endblock titulo %}
{% block contenido %}

<div class="container">
    <h1>Cambiar Contraseña</h1>
    <P>Por razones de seguridad, porfavor introduzca su antigua contraseña, luego su nueva contraseña dos veces para que podamos verificar que la escribiste correctamente</P>

    <form method="post">{% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-success" type="submit" value="Cabiar mi contraseña">
    </form>
</div>
{% endblock contenido %}